body{
   margin:0px;
}

#header{
   font-size:45px;
   font-weight: 100;
   
   text-align:center;
   
   padding:5%;
}

#find{
   min-width:500px;
   height:200px;
   margin-left:25%;
   margin-right:25%;
   padding:auto;
   
   text-align:center;
   line-height:280px;
   
   border:1px solid gray;
   background-size:cover;
   background-position:center;
}

#find form{
   min-width:363px;
   text-align:left;
   line-height:40px;
   display:inline-block;
}

#find form div{
   width:250px;
   display:inline-block;
   vertical-align:middle;
   
   margin-bottom:20%;
   margin-left:18%;
}

#find form div input{
   width:100%;
   height:31px;
   display:inline-block;
}


#find form > input{
   width:100px;
   height:77px;
   
   font-size:20px;
   
   outline:0;
   border:1px solid black;
   border-radius:1px;
   
   margin-left:7px;
   vertical-align:middle;
}
